
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;700;900&display=swap');


:root{
    --main-color: #5865F2; /*Color principal. Color enlaces, botones y algunos bordes.Color de hover de los enlaces en el footer*/
    --contrast-color: #070e58 ; /*Color secundario. Color de texto, fondo del contenedor de la cabecera, fondo del footer, fondo en el hover del botón de envío */
    --color-hover:#a4f479 ; /*Color para el hover de los enlaces, bordes, fondo de celdas impares de la tabla */
    --light-color:white;/*Color de fondo de la página y de los enlaces de la cabecera en estado normal*/
    --body:#F9F9FB /*Color de fondo*/
}


*,
*:before,
*:after{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    line-height: 1.6;
}


body{
    font-family: 'Fira Sans', sans-serif;
    background-color:var(--body);
    min-height: 100vh; /*Para que el body ocupe todo el viewport*/
    margin:0;
}



p{
    font-size: medium;
    font-weight:400;

}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;    
}

form{
    margin:100px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    background-color: white;
    width:400px;
    box-shadow: 0 19px 38px rgba(122, 122, 122, 0.3), 0 15px 12px rgba(212, 212, 212, 0.22);
    border: .15px solid #e2e2e2;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}



.form-control{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    width:100%;
    padding:0 25px;
}







.form-control input{
    padding-left: 10px;
    width:100%;
    height:35px;
    border-radius: 3px;
    border:2px solid rgb(228, 228, 228); 
    color:rgb(85, 85, 85);
}




.button{
    width:100%;
    padding:0 25px;
    margin:0 auto;
}

.button button{
    width:100%;
    height:35px;
    background-color: #2F8DD2;
    color:white;
    border:2px solid rgb(228, 228, 228); 
    border-radius:2px;
    cursor: pointer;
}


.form-control input:focus{
    outline:0;
    color:grey;
}

.form-control.success input{
    border-color:green;
}


.form-control.error input{
    border-color:red;
}


.form-control small{
    color:red;
    visibility:hidden;
}

.form-control.error small{
    visibility:visible;
}






label{
    color:gray;
    font-size: small;
}


.es-requerido:after{
    content:'*';
    color:red;
    margin-left:3px;
    font-weight: 700;
}


 .error-msg{
    color:red;
    font-size: small;
    margin-block-start: 2px;
    visibility:hidden;

}


.error-msg.error{
    visibility: visible;
}